main div.input, main div.output {
  margin-bottom: 10px;
}

div.page {
  padding: 20px;
  z-index: 1;
}

header {
  margin-bottom: 40px;
}

footer {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#preview_layer {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}

#preview_layer_content {
  width: 100%;
  height: 100%;
  background: white;
}

#close_preview_btn {
  position: fixed;
  top: 10px;
  right: 10px;
}

.preview {
  position:relative;
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.gutter {
  background: #F9CC9D;
}

.box {
  background: #C3DEB7;
  display: block;
}

.inner {
  background: #A0C5E8;
  height: 100%;
}

#live_preview {
  width: 100%;
  height: 250px;
  display: block;
}

#live_preview_content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}